<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe Subscriptions with Node.js</title>
</head>
<body>
    <h1>Plans</h1>

    <h2>Subscription</h2>
    <p><b>$20/month</b></p>
    <p>This is the Subscription for UniTechHR</p>
    <a href="/subscribe?plan=subscription">Subscribe</a>
</body>
</html>